.header-row{
background-image: url("./img/bg.jpg");
background-attachment: fixed;
}
.header{
	background-color: #EAEAEA;
}
.main-menu{
	background-color: #EEE;
}
.logo{
	padding: 5px 0;
}
.input{
	background-color: #EAEAEA;
	border-radius: 0px;
}
.button{
	border-radius: 0px;
}
.link{
	font-size: 80%;
}
.banner{
	position: relative;
	cursor: pointer;
}
.title-banner{
	position: absolute;
	top: 30%;
	left: 20%
}
.product{
	background-color: #FFF;
}
.img-product{
	position: relative;
}
.product .new{
position: absolute;
top:0;
background-color: blue;
padding: 0.2em 1.5em;
color: #EEE
}
.product .hot{
background-color: red;
}


.top-seller{
	padding: 0;
}
.top-seller {
	display: flex;
	cursor: pointer;
}
.top-seller .button{
	padding: 0.5px 8px;
	border: 1px solid #D05165;
	background-color: #D05165;
	vertical-align: middle;
	margin-right: 3px;
	color: #EEE;
}
.top-seller a{
	font-size: 14px;
	padding: 1px 2px;


}
.top-seller:hover a{
	text-decoration: none;
	background-color: #EEE;
	color: red;
	height: 29px;
	flex-grow: 1;
}